.button-q {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: black;
    border-radius: 5px;
    font-size: 1.3em;
    color: white;
    cursor: pointer;

    &.btnfixed {
        position: fixed;
        right: 5px;
        top: 120px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.actionbutton {
    width: 180px;
    height: 50px;
    background-color: black;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    font-size: 1.4em;
    padding: 8px;
    cursor: pointer;
}


.goHomeButton {
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 255, 0.627);
    color: white;
    width: 70px;
    height: 30px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.goHomeButton2 {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 255, 0.627);
    color: white;
    width: 70px;
    height: 30px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}


.btn-translate {
    background-color: blue;
    width: 100px;
    align-self: center;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
}