/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: clip;
}

.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  font-family: sans-serif;
  line-height: 1.5em;
  scroll-behavior: smooth;
  background: linear-gradient(to top, blue, black);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.button-q {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: black;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}
.button-q.btnfixed {
  position: fixed;
  right: 5px;
  top: 120px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.actionbutton {
  width: 180px;
  height: 50px;
  background-color: black;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 5px black;
  font-size: 1.4em;
  padding: 8px;
  cursor: pointer;
}

.goHomeButton {
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: rgba(0, 0, 255, 0.627);
  color: white;
  width: 70px;
  height: 30px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}

.goHomeButton2 {
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 255, 0.627);
  color: white;
  width: 70px;
  height: 30px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}

.btn-translate {
  background-color: blue;
  width: 100px;
  align-self: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
}

.languageBtn {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  height: 40px;
  margin-top: 40px;
  font-weight: bold;
  background-color: rgb(185, 184, 184);
  width: 260px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px black;
  transition: all 0.4s ease;
}
.languageBtn:hover {
  box-shadow: 0 0 5px black;
}

.button-add {
  background-color: blue;
  color: white;
}

.homepage {
  z-index: 1;
  overflow-y: scroll;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.homepage .languageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.modal-language-menu {
  z-index: 102 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: green;
}
.modal-language-menu .NewWords {
  background-color: rgb(186, 205, 218);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-language-menu h1 {
  font-size: 2.5em;
  text-align: center;
  color: black;
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.modal-language-menu .contentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  width: 100%;
}
.modal-language-menu .contentArea form {
  width: 100%;
}
.modal-language-menu .contentArea form label {
  color: black;
  margin: 0 auto;
  font-weight: bold;
}
.modal-language-menu .contentArea form input {
  width: 60%;
  height: 30px;
  border-radius: 8px;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
}
.modal-language-menu .savebutton {
  padding: 10px;
  background-color: green;
  color: lightgreen;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
  cursor: pointer;
}
.modal-language-menu .inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.modal-language-menu .wordsWrapper {
  display: flex;
  flex-direction: column;
  margin: 90px auto 0 auto;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
}
.modal-language-menu .wordsWrapper h2 {
  color: black;
}
.modal-language-menu .wordsWrapper .row {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-around;
  border: 1px solid teal;
  margin-bottom: 3px;
}
.modal-language-menu .wordsWrapper .cell {
  width: 50%;
  min-height: 24px;
  height: auto;
  text-align: center;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  line-break: anywhere;
  padding: 5px 0;
}
.modal-language-menu .wordsWrapper .cellr {
  border-left: 1px solid white;
}

.footerNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgba(3, 3, 12, 0.822);
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal {
  transform: translateY(200%);
}
.modal.active {
  transform: translateY(0);
}
